$dialogWidth:(
    "md-and-down": '100%',
    "lg": '100%',
    "xl": '1269px'
);

$modalWidth:(
    "md-and-down": '67%',
    "lg": '100%',
    "xl": '1269px'
);


$kbHeight:(
    "sm-and-down": "50px",
    "md-and-down": "4.3rem",
    "lg": "3.8rem",
    "xl": "5.2rem",
    "lg_xm_ds": "6.3rem",
    "lg_xm_fs": "6.5rem",
    "xl_tv_fs": "6.8rem",
    "xl_tv_ds": "5.3rem",
    "xl_l_fs": "5.2rem",
    "xl_l_ds": "4rem"
    
);
