

.mainBtn {
    background: rgb(var(--v-theme-keypadBtn)) !important;
    color:rgb(var(--v-theme-bright)) !important;
   box-shadow:  -1px -1px 2px rgba(117, 121, 131, 38%), 3px 3px 10px  rgba(15, 19, 29, 49%) !important;
}
.mainBtnInv {
    // background: var(--v-theme-keypadBtn) !important;
    // color: var(--v-theme-bright) !important;
   box-shadow: inset   1px 2px 3px  rgba(0, 0, 0, 19%) !important;
}

.mainCard {
    // background: var(--v-theme-keypadBtn) !important;
    // color: var(--v-theme-bright) !important;
    // border-radius: 5px !important;
   box-shadow: inset 0px 3px 11px  rgb(0, 0, 0, 40%) !important;
   
}

.catRed {
   
    box-shadow:  -1px -1px 2px 0 rgba(243, 129, 130, 100%), 3px 3px 10px  rgba(15, 19, 28, 49%) !important;
    background: linear-gradient(rgb(201, 80, 81, 100%), rgb(83, 28, 64, 100%))!important;

}
.catGrey {
    box-shadow:  -1px -1px 2px 0 rgba(161, 161, 161, 100%), 3px 3px 10px  rgba(15, 19, 28, 49%) !important;
    /* Created with https://www.css-gradient.com */
    background: #050606 !important;
    background: linear-gradient(rgb(123, 124, 139, 100%), rgb(25, 25, 49, 88%))!important;
    
}

.catGreen {
box-shadow:  -1px -1px 2px 0 rgba(161, 161, 161, 100%), 3px 3px 10px  rgba(15, 19, 28, 49%) !important;
/* Created with https://www.css-gradient.com */
background: #050606 !important;
background: linear-gradient(rgb(77, 122, 89, 100%), rgb(21, 55, 47, 100%)) !important;
}

.data-time,
.subTitle {
  font-size: 14px;
}

// .v-dialog .dPos {
//     position: absolute !important;
//     left: -25 !important;
//     top: -25 !important;
//     max-height: 100% !important;

// }

.v-dialog.dCancel {
    margin:0;
    position: absolute;
    left: 0px;
    height: 100vh;
    // below might need updates on different screen sizes
 

}
.v-dialog:not(.v-dialog--fullscreen) {
    max-height: 100% !important;
}

// $dialog-margin : 50 !important;



//breakpoint dialog



::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(var(--v-theme-background));
}

::-webkit-scrollbar {
  width: 3px;
  background-color: rgb(var(--v-theme-background));
}

::-webkit-scrollbar-thumb {
  background-color: #6871c7;
  background-image: gradient(linear,
      0 0,
      0 100%,
      color-stop(0.5, rgba(255, 255, 255, 0.2)),
      color-stop(0.5, transparent),
      to(transparent));
}